<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>
            {% if title %}
                {{ title }} - Microblog
            {% else %}
                Welcome to Microblog
            {% endif %}
        </title>
    </head>
    <body>
        <header>
            <div>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('login') }}">Login</a>
                <hr>
                {% block content %}
                {% endblock %}
            </div>
        </header>
    </body>
</html>
